stages:
- pre-analysis
- build
- deploy

python:quality:
    artifacts:
        reports:
            codequality: flake8.json
            cobertura: cobertura.xml
            junit: mypy.xml
        expire_in: 10 days
    cache: &python-cache
        key: ${CI_COMMIT_REF_SLUG}
        paths:
            - ".venv"
    coverage: '/line-rate="0.([0-9]{1,2})\d*"/'
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    needs: [ ]
    rules: &python-rules
        -   changes:
                - "lrz_sync_and_share_scripts/**.py"
                - .gitlab-ci.yml
        -   if: '$CI_COMMIT_BRANCH == "master"'
        -   if: '$CI_COMMIT_BRANCH == "development"'
    script:
        - poetry install
        - poetry run flake8 --exit-zero --format gl-codeclimate --output-file flake8.json lrz_sync_and_share_scripts
        - poetry run mypy --cobertura-xml-report=. --junit-xml=mypy.xml --pretty lrz_sync_and_share_scripts
        - head -n 1 cobertura.xml
    stage: pre-analysis

python:build:
    artifacts:
        paths:
            - dist
        expire_in: 3 days
    cache: *python-cache
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    needs:
        - python:quality
    rules: *python-rules
    script:
        - poetry install --no-dev
        - poetry build
    stage: build

python:deploy:
    cache: *python-cache
    image: gitlab.lrz.de:5005/i4/software/docker-images/python3.9-poetry
    rules:
        -   if: '$CI_COMMIT_BRANCH == "master"'
    script:
        - poetry config repositories.lrz https://gitlab.lrz.de/api/v4/projects/${PROJECT_ID}/packages/pypi
        - poetry publish --repository lrz --username ${REGISTRY_USERNAME} --password ${REGISTRY_PASSWORD}
    stage: deploy
    needs:
        - python:build
